# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:your-deployment
BETTER_AUTH_SECRET=your-better-auth-secret
NEXT_PUBLIC_CONVEX_URL=your-convex-url
NEXT_PUBLIC_CONVEX_SITE_URL=your-convex-site-url
SITE_URL=http://localhost:3000